.tasks-page {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  padding: 2rem 3rem;
  box-sizing: border-box;
}

.tasks-header {
  position: absolute;
  top: 1rem;
  left: 3rem;
  right: 3rem;
  display: flex;
  align-items: center;
}

.tasks-title {
  position: relative;
  color: var(--color-text);
  white-space: nowrap;
  overflow: hidden;

  flex: 0 0 60rem;
  font-size: 2.7rem;
  font-weight: 500;

  mask-image: linear-gradient(to right, black calc(100% - 5rem), transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black calc(100% - 5rem), transparent 100%);
}

.tasks-action-btn {
  line-height: 1;    
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--color-cards);
  color: var(--color-text);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none; /* for Link */
  box-shadow:
    0 var(--button-shadow-y)
      var(--button-shadow-blur)
      var(--button-shadow-color);
  transition:
    transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 0.2s ease;
}
.tasks-action-btn img {
  width: 1rem;
  height: 1rem;
}
.tasks-action-btn:hover {
  transform: scale(1.05);
  box-shadow:
    0 var(--button-hover-y)
      var(--button-hover-blur)
      var(--button-hover-color);
  filter: brightness(1.02);
}

.tasks-divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
  margin-top: 4rem;
}

.tasks-loading {
  margin-top: 8rem;
  text-align: center;
  color: var(--color-text);
}

.groups-row{
  position:absolute;
  top:7rem; 
  left:3rem; 
  right:3rem; 
  bottom:0.25rem;
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  overflow-x: scroll;
  padding-bottom: 0.25rem;
}

/* needed wrapper due to dnd-kit's  */
.groups-row__inner-wrapper {
  position: relative;
  display: flex;
  gap: 2rem;
  width: 100%;
  height: 100%;
}

.groups-row__inner-wrapper > * {
  flex: 0 0 var(--group-width);
  max-width: var(--group-width);
}

.task-group{
  scroll-snap-align:start;
}

/* custom scrollbar */
.groups-row {
  scrollbar-width: thin;
  scrollbar-color: var(--color-cards) transparent;
}

.groups-row::-webkit-scrollbar {
  height: 8px;
}

.groups-row::-webkit-scrollbar-track {
  background: transparent;
}

.groups-row::-webkit-scrollbar-thumb {
  background: var(--color-cards);
  border-radius: 4px;
  box-shadow:
    0 1px 3px rgba(0,0,0,.25) inset;
}

.groups-row::-webkit-scrollbar-thumb:hover {
  background: var(--color-input-border);
}

