.common-header {
  position: absolute;
  top: 0;
  left: 3rem;
  right: 3rem;
  height: 4rem;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  box-sizing: border-box;
  z-index: 10;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-spacer {
  flex: 1;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.common-divider {
  width: 100%;
  height: 1px;
  background-color: var(--color-text);
  margin-top: 4rem;
}

.header-left .back-button,
.header-left button {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-left .back-button img,
.header-left button img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
