.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(134, 126, 126, 0.5);
  z-index: 1000;
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-cards);
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 320px;

  z-index: 1001;;
}

.modal-title {
  margin: 0;
  font-size: 1.5rem;
  color: var(--color-text);
  text-align: center;
}

.modal-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid var(--color-text);
  padding: 0.25rem 0;
  font-size: 1rem;
  color: var(--color-text);
  width: 100%;
}

.modal-input:focus {
  outline: none;
  border-bottom-color: var(--color-text);
}

.modal-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.modal-action-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: var(--color-cards);
  color: var(--color-text);
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  box-shadow:
    0 var(--button-shadow-y)
      var(--button-shadow-blur)
      var(--button-shadow-color);

  transition:
    transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 0.2s ease;
}

.modal-action-btn:hover {
  transform: scale(1.05);
}
