.board-card {
  display: flex;
  align-items: center;
  gap: 3rem;
  background: var(--color-cards);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);

  width: 100%;

  transition:
  transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
  box-shadow 0.2s ease;

  overflow: visible;
  position: relative;
}

.board-card:hover {
  z-index: 10;
  transform: scale(1.02);
  box-shadow:
    0 var(--button-hover-y)
      var(--button-hover-blur)
      var(--button-hover-color);
}


.board-card + .board-card {
  margin-top: 1rem;
}

.board-card-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
  min-width: 0;
}

.board-color {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
}

.board-name {
  font-size: 1.5rem;
  color: var(--color-text);

  flex: 1;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.board-name::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgba(255,255,255,0) 0%,
    var(--color-cards) 100%
  );
}

.board-owner,
.board-date {
  font-size: 1.25rem;
  color: var(--color-text);
  margin: 0;
  width : 7rem;

  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.board-owner::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 4rem;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(
    to right,
    rgba(255,255,255,0) 0%,
    var(--color-cards) 100%
  );
}
