.board-card {
  display: grid;
  grid-template-columns: 1fr 10rem 10rem 3rem;
  align-items: center;
  column-gap: 1.5rem;
  background: var(--color-cards);
  padding: 1rem 0;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);

  transition:
  transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
  box-shadow 0.2s ease;

  overflow: visible;
  position: relative;
}

.board-card:hover {
  z-index: 10;
  transform: scale(1.02);
  box-shadow:
    0 var(--button-hover-y)
      var(--button-hover-blur)
      var(--button-hover-color);
  filter: brightness(1.02);
}


.board-card + .board-card {
  margin-top: 1rem;
}

.board-card-left {
  display: flex;
  align-items: center;
  gap: 1rem;
  min-width: 0;
  padding-left: 1.5rem;
}

.board-color {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
}

.board-name {
  font-size: 1.5rem;
  color: var(--color-text);

  flex: 1;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;

  mask-image: linear-gradient(to right, black calc(100% - 3rem), transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black calc(100% - 3rem), transparent 100%);
}

.board-owner {
  font-size: 1.25rem;
  color: var(--color-text);
  margin: 0;

  overflow: hidden;
  white-space: nowrap;

  mask-image: linear-gradient(to right, black calc(100% - 2rem), transparent 100%);
  -webkit-mask-image: linear-gradient(to right, black calc(100% - 2rem), transparent 100%);
}

.board-date {
  font-size: 1.25rem;
  color: var(--color-text);
  margin: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.board-menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
}

