.task-card {
  position: relative;
  background: var(--color-cards-light);
  border-radius: 6px;
  padding: .75rem;
  box-shadow:
    0 var(--button-shadow-y)
      var(--button-shadow-blur)
      var(--button-shadow-color);

  transition:
    transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    box-shadow 0.2s ease;

  overflow: visible;
  cursor: pointer;
}

.task-card:hover {
  z-index: 10;
  transform: scale(1.02);
  box-shadow:
    0 calc(var(--button-hover-y) * 0.5)
      calc(var(--button-hover-blur) * 0.6)
      var(--button-hover-color);
  filter: brightness(1.02);
}

.task-title {
  font-weight: 600;
  padding-right: 1.5rem;
  word-break: break-word;
  white-space: normal;
}

.task-delete{
  position: absolute;
  top: 50%;
  right: .5rem;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.2s, background-color 0.2s;
}

.task-card:hover .task-delete {
  opacity: 1;
}

.task-delete:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.task-delete img{
  width: .8rem;
  height: .8rem;
}
